* {
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

table {
    max-width: 1100px;
    margin: auto;
    border-collapse: collapse;
}

.centered {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* blinking text */
.blinking {
    animation: blinker 2s linear infinite;
}