body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
    padding: 20px;
}

table {
    width: 70%;
    margin: 20px auto;
    border-collapse: collapse;
}

td {
    padding: 10px;
    border: 1px solid #ddd;
}

td:first-child {
    font-weight: bold;
    color: #555;
    width: 30%;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    height: 50vh;
}

form {
    
    width: 70%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    margin-top: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
